<% include ../includes/header.ejs %>

<div>
    <div class="container min-container">

        <!-- INSIRA O CÓDIGO AQUI -->

        <h2 class="basic-title">Lista de livros</h2>
        <table class="table table-condensed table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Preco</th>
                    <th>Descricao</th>
                </tr>
            </thead>
            <tbody>
                <% for(let livro of livros){ %>
                <tr>
                    <td><%= livro.titulo %></td>
                    <td><%= livro.preco %></td>
                    <td><%= livro.descricao %></td>
                </tr>
                <% } %>
            </tbody>
        </table>

        <a href="/produtos/form" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Novo
            livro</a>
    </div>
</div>

<% include ../includes/footer.ejs %>